.note {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 30px;
  text-decoration: none;
  color: #000000;
  outline: none;

  .note-title {
    text-align: center;
  }
}
