.note {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 350px;
  margin: 30px;
  text-decoration: none;
  color: #000000;
  outline: none;
  box-shadow: 5px 5px 5px 0px #000000;

  .note-title {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
