.note-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  width: 85%;
  // height: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
  flex-grow: 1;
  gap: 30px;

  .no-notes {
    margin: 50px 0px 0px 50px;
    font-size: 26px;
  }
}
