.note-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 190px;
  flex-wrap: wrap;
  &::after {
    content: "";
    width: calc(100% / 4);
    margin: 30px;
  }
}

