@use '../../base';
$border-radius: 10px;

@mixin button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

@mixin inputStyle {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  color: #fff;
  width: 600px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  &:focus {
    outline: none;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;

  .create-edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    border-radius: $border-radius;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

    .form-title {
      color: #fff;
    }

    .title {
      @include inputStyle();
      font-size: 22px;

    }

    .context {
      @include inputStyle();
      font-size: 16px;
    }

    .color-buttons {
      background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
      color: #fff;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 10px 70px;
      border-radius: $border-radius;

      .button-green {
        @include button;
        background-color: #d5e8d4;
      }

      .button-blue {
        @include button;
        background-color: #dae8fc;
      }

      .button-yellow {
        @include button;
        background-color: #fff2cc;
      }

      .button-red {
        @include button;
        background-color: #f8cecc;
      }

      .button-green:focus {
        background-color: black;
      }
    }

    .create-edit-button {
      @include base.button();
    }
    .create-edit-button:hover {
      @include base.button-hover;
    }
  }
}

.create-edit-form > * {
  margin-bottom: 30px;
}
