@import "../../_base.scss";

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;

  border: 40px solid transparent;
  border-image: url("../../img/bg.jpg") 55 round;

  background: url("../../img/board.png") no-repeat;
  background-size: 100% 100%;

  @include mobileM {
    border: 30px solid transparent;
    border-image: url("../../img/bg.jpg") 55 round;
  }

  .no-notes {
    margin: 50px 0px 0px 50px;
    font-size: 26px;
  }
}
