@import "../../_base.scss";
.Modal {
  &Window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    min-height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    text-align: center;
    background-color: $peach;
    border: 4px solid #33322e;
    border-radius: 24px;
    padding: 30px 20px;

    .ModalTitleContainer {
      border-bottom: none;
      padding: 20px 0 20px 15px;
      text-align: left;
      margin-bottom: 15px;

      .ModalTitleStyle {
        font-size: 20px;
      }
    }

    .ModalButtons {
      .ModalCancelButton {
        @include button;
        padding: 20px 0;
        margin: 0px 15px;
      }
      .ModalYesButton {
        @include button;
        padding: 20px 0;
        margin: 0px 15px;
      }
    }
  }
}
