@use '../../base.scss';

.Modal {
  &Window {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    text-align: center;
  }

  &CancelButton {
    @include base.button;
    width: 70%;
    //background: rgb(248, 206, 204);
    //border: 1px solid rgb(248, 149, 121);
    //color: black;
    padding: 20px 0
  }
  &YesButton {
    @include base.button;
    width: 30%;
    //background: rgb(213, 232, 212);
    //border: 1px solid rgb(127, 248, 137);
    //color: black;
    padding: 20px 0;
  }

  &CancelButton:hover {
    @include base.button-hover;
  }

  &YesButton:hover {
    @include base.button-hover;
  }

  &TitleStyle {
    font-size: 20px;
  }

  &TitleContainer {
    color: #fff;
    border-bottom: none;
    padding: 20px 0;
    background: #000000;
  }
}