@mixin button {
  padding: 10px 80px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));

  .header-left {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 79%;
    margin-right: 20px;

    .logo {
      display: flex;
      align-items: center;
      outline: none;
      text-decoration: none;

      .header-title {
        text-decoration: none;
        color: #fff;
        margin: 0;
        font-size: 30px;
      }
    }
    .logo > img {
      width: 40px;
      height: 40px;
    }

    .header-left-buttons {
      display: flex;
      align-items: center;
    }

    .header-title {
      font-size: 30px;
    }

    .button {
      @include button;
      margin-left: 20px;
    }
  }

  .header-right {
    display: flex;
    align-self: center;
    border: 1px solid black;
    padding: 30px;
    width: 13%;

    .button {
      @include button;
    }
  }
}
