@use '../../base.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));


  .note-logo {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;

    .header-title {
      text-decoration: none;
      color: #fff;
      margin: 0;
      font-size: 34px;
      line-height: 27px;
      padding: 30px 0;

      &-part {
        color: rgb(15, 151, 247);
        padding-left: 1px;
      }
    }

  }

  .note-logo > img {
    width: 40px;
    height: 40px;
    padding: 30px 0 42px 30px;
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;;

    .header-title {
      font-size: 30px;
    }

    .button {
      @include base.button;
      background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
      margin: 0 20px;
      @media screen and (max-width: base.$break-large){
        padding: 10px 40px;
        margin: 0 10px;
      }
    }
    @media screen and (max-width: base.$break-small){
      flex-direction: column;
    }

    .button:hover {
      @include base.button-hover();
    }

  }
}


