@import "../../base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10vh;
  width: 100%;
  background: transparent;

  .burger-menu {
    display: none;
    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .line {
      width: 30px;
      height: 3px;
      background-color: $peach;
      margin: 5px 0;
      flex: 0 0 auto;
    }
  }

  .note-logo {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;

    .header-title {
      text-decoration: none;
      color: #fff;
      margin: 0;
      font-size: 2rem;
      line-height: 27px;
      font-weight: 600;

      &-part {
        color: $aqua;
        padding-left: 1px;
      }
    }

    &-img {
      width: 2.5rem;
      height: 2.5rem;
      margin-right: 10px;
    }
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: none;
      position: absolute;
      top: 10vh;
      left: 0;
      right: 0;
      justify-content: space-between;
      align-items: center;
      background-color: $peach;
      padding: 20px;
      z-index: 99;
    }

    @include mobileL {
      padding: 10px;
    }
    .header-title {
      font-size: 30px;
    }

    .button {
      @include button;
      background: $aqua;
      margin: 0 20px;

      border: 2px solid #594d54;
      border-radius: 24px;
      box-shadow: 3px 3px 0px 0 #594d54;

      @include tablet {
        margin: 0;
      }
    }
  }

  .active {
    display: flex;
  }
}
