@import "../../base";
$border-radius: 10px;

@mixin colorButtonStyle {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 10px;

  @include laptopL {
    width: 70px;
    height: 70px;
  }

  @include laptopL {
    width: 50px;
    height: 50px;
  }
}

@mixin inputStyle {
  background: linear-gradient(rgba(70, 70, 70, 0.6), rgba(77, 77, 77, 0.6));
  color: #fff;

  border: none;
  border-radius: 10px;

  width: 100%;
  height: 80px;
  min-width: 0px;
  min-height: 0px;
  padding: 30px;
  margin-bottom: 20px;


  font-size: 30px;

  &:focus {
    outline: none;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px 50px 0px 50px;

  .create-edit-form {
    width: 1200px;
    padding: 18px 20px;

    display: flex;
    flex-direction: column;
    // justify-content: center;

    border-radius: $border-radius;
    background: linear-gradient(
      rgba(152, 152, 152, 0.6),
      rgba(95, 95, 95, 0.6)
    );

    .form-title {
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 15px;
    }

    .title {
      @include inputStyle();
    }

    .context {
      @include inputStyle();
      height: 400px;
    }

    .color-buttons {
      background: linear-gradient(rgba(70, 70, 70, 0.6), rgba(77, 77, 77, 0.6));
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      padding: 5px 0px;
      margin-bottom: 20px;
      border-radius: $border-radius;

      .button-peach {
        @include colorButtonStyle;
        background-color: $peach;
      }

      .button-aqua {
        @include colorButtonStyle;
        background-color: $aqua;
      }

      .button-yellow {
        @include colorButtonStyle;
        background-color: $yellow;
      }

      .button-green:focus {
        background-color: black;
      }
    }

    .create-edit-button {
      @include button;
      padding: 10px 20px;

      &:hover {
        @include button-hover;
      }

      &:disabled {
        background: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
        cursor: not-allowed;
      }
    }
  }
}
