@import "../../base";
$border-radius: 10px;

@mixin colorButtonStyle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  margin: 10px;
}

@mixin inputStyle {
  background: linear-gradient(rgba(70, 70, 70, 0.6), rgba(77, 77, 77, 0.6));
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  min-width: 0px;
  min-height: 0px;
  &:focus {
    outline: none;
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 10%;

  .create-edit-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    border-radius: $border-radius;
    background: linear-gradient(
      rgba(152, 152, 152, 0.6),
      rgba(95, 95, 95, 0.6)
    );

    .form-title {
      color: #fff;
      font-size: 20px;
      margin-bottom: 15px;
    }

    .title {
      @include inputStyle();
      font-size: 22px;
      margin-bottom: 20px;
    }

    .context {
      @include inputStyle();
      font-size: 16px;
      margin-bottom: 20px;
    }

    .color-buttons {
      background: linear-gradient(rgba(70, 70, 70, 0.6), rgba(77, 77, 77, 0.6));
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      padding: 5px 0px;
      margin-bottom: 20px;
      border-radius: $border-radius;

      .button-peach {
        @include colorButtonStyle;
        background-color: $peach;
      }

      .button-aqua {
        @include colorButtonStyle;
        background-color: $aqua;
      }

      .button-yellow {
        @include colorButtonStyle;
        background-color: $yellow;
      }

      .button-green:focus {
        background-color: black;
      }
    }

    .create-edit-button {
      @include button;
      padding: 10px 20px;

      &:hover {
        @include button-hover;
      }

      &:disabled {
        background: linear-gradient(
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.5)
        );
        cursor: not-allowed;
      }
    }
  }
}
