@mixin button {
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  color: #fff;
  padding: 10px 80px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

@mixin button-hover{
  background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
}

$break-small: 680px;
$break-large: 970px;