@import "./_base.scss";

html {
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: rgb(231, 194, 185);
  background: linear-gradient(
    52deg,
    rgba(231, 194, 185, 1) 0%,
    rgba(232, 199, 190, 1) 35%,
    rgba(245, 232, 223, 1) 100%
  );
}

.app-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
