html {
  min-height: 100%;
  min-width: 1024px;
  background: url("./img/bg.jpg") no-repeat;
  background-position: 50% 0%;
  background-size: 110vw 110vh;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}
